<!DOCTYPE html>
<html>
<head>
  <title>AI Chat</title>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="css/Ai.css">
</head>
<body>
  <h1>Ask Us Mommy Related Questions!</h1>
  <div id="chat-container">
    <img src="img/animatedMom.png" alt="Image description">
    <div id="messages"></div>
    <div id="input-container">
      <form action="/getAi" method="post">
      <input type="text" id="user-input" name="question" placeholder="Ask a question">
      <button class="sendMessage" type="submit">Send</button>
    </form>
    </div>
  </div>
  <% if(answer){ %>
  <%= answer %>
 <% } %>

  <script src="Ai.js"></script>
</body>
</html>

