<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/other.css">
</head>
<body>
  <section class="choose">
    <button>Chat</button>
    <% if(user.momType === 'seasoned-mom'){ %>
      <button>OG Moms</button>
  <%  } else  { %>
    <button>New Moms</button>
  <% } %>
  <button><a href="/marketplace">Market Place</a></button>
  
  </section>
</body>
</html>