<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <p>
      Mommy Circle is a app designed for moms to interact with other mothers
      about almost anything. Welcome!
    </p>
    <h1>Log In to Mommy Circle</h1>
    <section class="login">
      <form action="/signup" method="post">
        <h2>Full name<input type="text" name="fullName" /></h2>
        <h2>Email<input type="email" name="email" /></h2>
        <h2>Address<input type="text" name="address" /></h2>
        <h2>Mom Type</h2>
        <input type="radio" name="type" value="first-time-mom">
        <label for="first-time-mom">First-time mom</label>
        <input type="radio" name="type" value="seasoned-mom">
        <label for="seasoned-mom">Seasoned mom</label>
        <h2>Password<input type="password" name="password" /></h2>
        <h3>Forgot password</h3>
        <button type="submit">Sign up</button>
      </form>
    </section>
    <section class="new">
      <span>Already have an account? <a href="/login">Login</a>.</span>
    </section>
  </body>
</html>
